body {
    background-image: url(images/sky.avif);
    background-repeat: no-repeat;
}
.weather {
    position: absolute;
    padding-left: 150px;
    padding-top: 10px;
}
.city {
    display: block;
    font-size: 40px;
}
input, button {
    width: 19%;
    padding: 10px 10px;
}